# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Model Files
*.pkl
*.joblib

# VS Code
.vscode/

# OS Files
.DS_Store
.venv/
__pycache__/
*.pyc

.env

.vscode/

models/*.pkl

*.ipynb_checkpoints

.DS_Store